.postlist{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:799px){
    .post-box{
    display: flex;
    vertical-align: middle;
    background-color: rgb(246, 233, 233) ;
    width: 99%;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    }
   
}

@media screen and (min-width: 800px) and (max-width:1200px){
    .post-box{
    display: flex;
    vertical-align: middle;
    background-color: rgb(246, 233, 233) ;
    width: 48%;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    }
   
}

@media screen and (min-width: 1200px){
    .post-box{
    display: flex;
    vertical-align: middle;
    background-color: rgb(246, 233, 233) ;
    width: 32%;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    }
   
}