<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title if title else "Research App" }}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      {% if current_user.is_anonymous %}
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Research</a>
      {% else %}
        {% if current_user.__class__.__name__ == 'Student' %}
          <a class="navbar-brand" href="{{ url_for('main.student_index') }}">Research</a>
        {% else %}
          <a class="navbar-brand" href="{{ url_for('main.faculty_index') }}">Research</a>
        {% endif %}
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          {% if current_user.is_anonymous %}
              <a class="btn btn-outline-success mx-1" role="button" href="{{ url_for('auth.login') }}">Login</a>
              <a class="btn btn-outline-dark mx-1" role="button" href="{{ url_for('auth.register_student') }}">Student Register</a>
              <a class="btn btn-outline-dark mx-1" role="button" href="{{ url_for('auth.register_faculty') }}">Faculty Register</a>
          {% else %}
            {% if current_user.__class__.__name__ == 'Student' %}
              <a class="btn btn-outline-dark mx-1" role="button" href="{{ url_for('main.display_student_profile') }}">View Profile</a>
              <a class="btn btn-outline-dark mx-1" role="button" href="{{ url_for('main.student_dashboard') }}">View Applications</a>
            {% else %}
              <a class="link btn btn-outline-dark mx-1" role="button" href="{{ url_for('main.display_faculty_profile') }}">View Profile</a>
              <a class="btn btn-outline-dark mx-1" role="button" href="{{ url_for('main.faculty_lists') }}">View Lists</a>
              <a class="btn btn-outline-dark mx-1" role="button" href="{{ url_for('main.post_position') }}">Post Position</a>
            {% endif %}
            <a class="btn btn-outline-danger mx-1" role="button" href="{{ url_for('auth.logout_users') }}">Logout</a>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-3 pb-5">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>