{% extends "base.html" %}
{% block content %}

<div class="container py-4">

   
    <div class="card shadow-sm mb-5">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Recommended For You</h4>
        </div>

        <div class="card-body">
            <p class="text-muted">Based on your major, interests, GPA, and completed courses.</p>

            <div class="row g-4">
                {% for position in recommended_positions %}
                <div class="col-md-4">
                    {% include "_positions.html" %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card shadow-sm mb-5">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">All Positions</h4>
        </div>

        <div class="card-body">

            {% if other_positions %}
            <div class="row g-4">
                {% for position in other_positions %}
                <div class="col-md-4">
                    {% include "_positions.html" %}
                </div>
                {% endfor %}
            </div>

            {% else %}
            <p class="text-muted mt-2">No positions available at the moment.</p>
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}